<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Approval">
  	<select id="appDocsType" resultType="kh.gw.dto.Approval_typeDTO">
  		select * from st.approval_type where app_type_name not like '%'||'업무일지'||'%' order by app_type_code
  	</select>
  	<select id="allSignType" resultType="kh.gw.dto.Approval_sign_typeDTO">
  		select * from st.approval_sign_type
  	</select>
  	<insert id="writeApp">
  		insert into st.approval values(#{app_seq}, #{app_type_code}, #{app_id}, #{app_archive}, #{app_title}, 'temp', (select current_date from dual),#{app_docs_num},1)
  	</insert>
  	<insert id="setInitAppSign">
  		insert into st.approval_sign values(#{app_seq}, #{app_sign_id}, #{app_sign_order}, null, 'N', #{app_sign_type_code})
  	</insert>
  	<select id="getNewAppSeq" resultType="int">
  		select st.app_seq.nextval from dual
  	</select>
  	
  	<insert id="insertAf">
  		insert into st.approval_attached_files values(#{app_seq},#{app_ori_name},#{app_saved_name})
  	</insert>
  	<select id="allMyWriteApp" resultType="kh.gw.dto.ApprovalDTO">
  		select * from st.approval where app_id = #{value} and app_type_code not in (7,8,9)
  	</select>
  	<select id="searchApp" resultType="kh.gw.dto.ApprovalDTO">
  		select * from st.approval where app_seq = #{value} and app_type_code not in (7,8,9)
  	</select>
  	<select id="getTobeSignApp" resultType="kh.gw.dto.Approval_signDTO">
  		select * from st.approval_sign join st.approval using (app_seq) where app_sign_id = #{value} and app_sign_type_code != 1 and app_sign_date is null and app_status_code !='2' order by app_seq desc
  	</select>
  	 <select id="getMySignApp" resultType="kh.gw.dto.Approval_signDTO">
  		<!-- 내가 결재라인에 있는 내역 들고옴 -->
  		<!-- select * from st.approval_sign where app_sign_id = #{value} and app_sign_type_code != 1 and app_sign_date is not null order by app_seq desc -->
  		select * from st.approval_sign where app_sign_type_code != 1 and app_sign_id = #{value} order by app_seq desc
  	</select>
  	<select id="confirmReject" resultType="int">
  	<!-- 내가 결재라인에 있는 내역 중 결재하지 않은 내역 seq리스트를 넘기고, 해당 결재문서가 반송된 상태인 seq를 넘긴다. -->
  		select app_seq from st.approval where app_status_code = '2' and app_seq in
  		<foreach collection="confirmList" item="i" separator="," open="(" close=")">
  			#{i}
  		</foreach> 
  	</select>
  	<select id="countTobeSignApp" resultType="int">
  		select count(*) from st.approval_sign where app_sign_id = #{value} and app_sign_type_code != 1 and app_sign_date is null
  	</select>
  	 <select id="countMySignedApp" resultType="int">
  		select count(*) from st.approval_sign where app_sign_id = #{value} and app_sign_type_code != 1 and app_sign_date is not null
  	</select>
  	<select id="isSignTurn" resultType="int">
  		select count(*) from st.approval_sign where app_sign_order = #{order} and app_seq = #{app_seq} and app_sign_accept = 'Y'
  	</select>
  	<select id="countBefAgree" resultType="int">
  		select count(*) from st.approval_sign where app_seq = #{app_seq} and app_sign_order = #{order}
  	</select>
  	  	<select id="countAgree" resultType="int">
  		select count(*) from st.approval_sign where app_seq = #{app_seq} and app_sign_accept = 'Y'
  	</select>
  	<select id="getAppByCpage" resultType="kh.gw.dto.ApprovalDTO">
  		select * from 
  			(select app_seq, app_docs_num, app_type_name, app_title, name, app_reg_date, app_status_name, row_number() over(order by app_seq desc)rn 
  				from st.approval join st.approval_type using (app_type_code) join st.approval_status using (app_status_code) join st.member on id = app_id 
  				where app_seq in 
  		<foreach collection="seqList" item="seq" separator="," open="(" close=")">
  			#{seq}
  		</foreach>
  		) where rn between #{startnum} and #{endnum} order by app_seq desc
  	</select>
  	<select id="allMyCCList" resultType="int">
  		select app_seq from st.approval_sign where app_sign_id = #{id} and app_sign_type_code = 1
  	</select>
  	<select id="countMyCCList" resultType="int">
  		select count(*) from st.approval_sign where app_sign_id = #{id} and app_sign_type_code = 1
  	</select>
  	<select id="getAppBySeq" resultType="kh.gw.dto.ApprovalDTO">
  		select * from st.approval join st.approval_type using (app_type_code) join st.approval_status using (app_status_code) where app_seq=#{app_seq}
  	</select>
  	<select id="getAppSignBySeq" resultType="kh.gw.dto.Approval_signDTO">
  		select * from st.approval_sign join st.member on (id=app_sign_id) join st.approval_sign_type using (app_sign_type_code) where app_seq=#{app_seq} order by app_sign_order  	</select>
  	<select id="getAppFileBySeq" resultType="kh.gw.dto.Approval_attached_filesDTO">
  		select * from st.approval_attached_files where app_seq=#{app_seq}
  	</select>
  	<update id="contentsUpdate">
  		update st.approval set app_contents = #{fileName} where app_seq=#{app_seq}
  	</update>
  	<update id="updateSign">
  		update st.approval_sign set app_sign_accept=#{app_sign_accept}, app_sign_date=(SELECT CURRENT_DATE FROM DUAL) where app_seq=#{app_seq} and app_sign_id=#{app_sign_id}
  	</update>
  	<insert id="writeCmt">
  		insert into st.approval_comments values(st.app_cmt_seq.nextval, #{app_seq},#{app_cmt_writer},#{app_cmt_contents},(SELECT CURRENT_DATE FROM DUAL),null)
  	</insert>
  	<select id="getAppCmtBySeq" resultType="kh.gw.dto.Approval_commentsDTO">
  		select * from st.approval_comments where app_seq=#{app_seq} and app_cmt_del is null order by app_cmt_seq
  	</select>
  	<update id="delAppCmtBySeq">
  		update st.approval_comments set app_cmt_del=(SELECT CURRENT_DATE FROM DUAL) where app_cmt_seq=#{app_cmt_seq}
  	</update>
  	<update id="updateAppStatus">
  		update st.approval set app_status_code = #{app_status_code} where app_seq = #{app_seq}
  	</update>
  	<select id="totalSign" resultType="int">
  		select count(*) from st.approval_sign where app_seq = #{app_seq} and app_sign_type_code != 1
  	</select>
  	<select id="getAppForMainWrite" resultType="kh.gw.dto.ApprovalDTO">
		select *
		    from (select app_seq,app_docs_num,app_title,name,app_reg_date,app_status_name,app_type_name, row_number() over(order by app_seq desc)rn from st.approval join st.approval_type using(app_type_code) join st.approval_status using(app_status_code) join st.member on id=app_id where app_id = #{id})
            where rn between 1 and #{max}
    </select>
	<select id="getAppForMainCC" resultType="kh.gw.dto.ApprovalDTO">
		select app.app_seq,app_docs_num,app_title,name,app_reg_date,app_status_name,app_type_name 
		    from st.approval app join st.approval_type using(app_type_code) join st.approval_status using(app_status_code) join st.member on id=app_id, 
		        (select app_seq from 
		        	(select app_seq, row_number() over(order by app_seq desc)rn from st.approval_sign where app_sign_id = #{id}) 
		        where rn between 1 and 5) seq 
		where app.app_seq=seq.app_seq	
	</select>
	<select id="getAppCountToday" resultType="int">
		select count(*) from (select * from st.approval where trunc(app_reg_date,'DD') = trunc((select current_date from dual),'DD'))
	</select>
	<select id="getDocsTemplate" resultType="string">
		select app_type_template from st.approval_type where app_type_code=#{app_type_code}
	</select>
	<!-- nexacro 전용 mybatis 구문 -->
	<select id="nxAllDocsType" resultType="kh.gw.dto.Approval_typeDTO">
  		select * from st.approval_type order by app_type_code
  	</select>
  	<insert id="nxInsertDocs">
  		insert into st.approval_type values(#{app_type_code},#{app_type_name},#{app_type_template})
  	</insert>
  	<delete id="nxDeleteDocs">
  		delete st.approval_type where app_type_code = #{app_type_code}
  	</delete>
  	<update id="nxUpdateDocs">
  		update st.approval_type set app_type_name = #{app_type_name}, app_type_template = #{app_type_template} where app_type_code = #{app_type_code}
  	</update>
  	<select id="nxAppAllList" resultType="kh.gw.dto.ApprovalDTO">
  		select app_seq,app_type_code,app_id,name,app_archive,app_title,app_contents,app_reg_date,app_docs_num,app_status_code from st.approval join st.member on (app_id=id)
  	</select>
  	<select id="nxAppStatusList" resultType="kh.gw.dto.Approval_statusDTO">
  		select * from st.approval_status
  	</select>
  </mapper>