<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="BizLog">
  	
	<select id="getMyDeptMem" resultType="kh.gw.dto.MemberDTO">
		select * from (select id,name,dept_name,position_name,dept_code from st.member join st.department using(dept_code) join st.position using(position_code)) where dept_code = (select dept_code from st.member where id=#{id})
	</select>
	<select id="getDocsType" resultType="kh.gw.dto.Approval_typeDTO">
  		select * from st.approval_type where app_type_name like '%'||'업무일지'||'%' order by app_type_code
	</select>
  </mapper>