<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Break">
  	<select id="getAllType" resultType="kh.gw.dto.Break_typeDTO">
  		select * from st.break_type
  	</select>
  	<insert id="insertBreak">
  		insert into st.break values(st.break_seq.nextval, #{break_id}, #{break_code}, #{break_discount}, to_date(#{strStartDate},'yyyy-MM-dd'), to_date(#{strEndDate},'yyyy-MM-dd'), #{break_reason})
  	</insert>
  	<select id="getDiscount" resultType="_double">
  		select break_discount from st.break_type where break_code = #{value}
  	</select>
  	
  	<update id="updateBreakType">
  		update st.break_type set break_name=#{break_name}, break_discount=#{break_discount} where break_code =#{break_code}
  	</update>
  	
  	<delete id="deleteBreakType">
  		delete from st.break_type where break_code= #{value}
  	</delete>
  	
  	<insert id="insertBreakType">
  		insert into st.break_type values(st.break_type_seq.nextval, #{break_name},#{break_discount})
  	</insert>
  	
  	<select id="loadHolidayList" resultType="kh.gw.dto.BreakDTO">
  		select * from st.break where break_id =#{value}
  	</select>
  </mapper>