<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Break">
  	<select id="getAllType" resultType="kh.gw.dto.Break_typeDTO">
  		select * from st.break_type
  	</select>
  </mapper>