<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Department">
  	<select id="listDept" resultType = "kh.gw.dto.DepartmentDTO">
		select * from st.department
	</select>
	<insert id="nxDeptAdd">
		insert into st.department values(st.dept_seq.nextval, #{dept_name},null,#{dept_level},#{dept_code_parent})
	</insert>
  </mapper>