<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Message">
  
  	<insert id="msgProc">
  		insert into st.message values(st.message_seq.nextval,#{msg_sender},#{msg_receiver},sysdate,null,#{msg_title},#{msg_contents})
  	</insert>
  	
  	<select id="msgInBoxList" resultType="kh.gw.dto.MessageDTO">
  		select * from st.message where msg_receiver = #{value}
  	</select>
  </mapper>