<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Position">
  	<select id="listPo" resultType = "kh.gw.dto.PositionDTO">
		select * from st.position
	</select>
	<insert id="nxPosiAdd">
		insert into st.position values(st.position_seq.nextval,#{position_name})
	</insert>
	<delete id="nxPosiDel">
		delete from st.position where position_code=#{position_code}
	</delete>
	<update id="nxPosiUdt">
		update st.position set position_name=#{position_name} where position_code=#{position_code}
	</update>
  </mapper>