<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Schedule">
  	<insert id="insertSchedule">
  		insert into st.schedule values(st.sch_seq.nextval, #{sch_title}, #{sch_contents}, #{sch_start_date}, #{sch_end_date}, '', #{sch_id})
  	</insert>
  	
<!--   	<select id="listByCpage" resultType="kh.gw.dto.ScheduleDTO"> -->
<!--   		select * from (select st.schedule.*, row_number() over (order by sch_seq desc) rn from st.schedule) where rn between #{startRowNum} and #{endRowNum} -->
<!--   	</select> -->
  	
  	<select id="getList" resultType="kh.gw.dto.ScheduleDTO">
  		select * from st.schedule order by sch_seq desc
  	</select>
  	
  	<select id="listAllSchedule" resultType="kh.gw.dto.ScheduleDTO">
  		select * from (select st.schedule.*, row_number() over (order by sch_seq desc) rn from st.schedule) where sch_id = #{value}
  	</select>
  	
  	<select id="scheduleView" resultType="kh.gw.dto.ScheduleDTO">
  		select * from st.schedule where sch_seq = #{value} order by sch_start_date desc
  	</select>
  	
  	<delete id="scheduleDelete">
  		delete from st.schedule where sch_seq = #{value}
  	</delete>
  	
  	<select id="scheduleModifyBefore" resultType="kh.gw.dto.ScheduleDTO">
  		select * from st.schedule where sch_seq=#{sch_seq}
  	</select>
  	
  	<update id="scheduleModify">
  		update st.schedule set sch_title=#{sch_title}, sch_contents=#{sch_contents}, sch_start_date=#{sch_start_date}, sch_end_date=#{sch_end_date} where sch_seq=#{value}
  	</update>

  </mapper>