<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Schedule">
  	<insert id="insertSchedule">
  		insert into st.schedule values(st.sch_seq.nextval, #{sch_title}, #{sch_contents}, #{sch_start_date}, #{sch_end_date}, '')
  	</insert>
  	
  	<select id="scheduleListProc" resultType="kh.gw.dto.ScheduleDTO">
  		select * from st.schedule where sch_start_date = #{value}
  	</select>
  </mapper>