<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Write">
  
  <select id="noticeByCpage" resultType="kh.gw.dto.WriteDTO">
  	select * from(select st.write.*,row_number() over(order by write_reg_date
		desc)rn from st.write where (write_code = #{writeCode}) and
		(write_open='Y')) where rn between #{startRowNum} and #{endRowNum}
  </select>
  
  <select id="noticeList" resultType="kh.gw.dto.WriteDTO">
  	select * from st.write where (write_code = #{value}) and (write_open='Y')
  	order by write_reg_date desc
  </select>
  
  <select id="noticeView" resultType="kh.gw.dto.WriteDTO">
  	select * from st.write where (write_seq = #{value}) and (write_open='Y')
  </select>
  
  <update id="updateViewCount">
 	 update st.write set write_read_count = (select
		write_read_count from st.write where write_seq=#{value})+1 where
		write_seq=#{value}
  </update>  
  
  <select id="noticeSearch" resultType="kh.gw.dto.WriteDTO">
		select * from(select st.write.*,row_number() over(order by write_reg_date
		desc)rn from st.write where (write_code = #{writeCode}) and (${condition}
		like '%'||#{keyword}||'%') and (write_open='Y')) where (rn between
		#{startRowNum} and #{endRowNum})
	</select>
  
  <select id="noticeSearchList" resultType="kh.gw.dto.WriteDTO">
		select * from st.write where (write_code = #{writeCode}) and
		(write_open='Y')
		<if test="keyword != ''">
			and (${condition} like '%'||#{keyword}||'%')
		</if>
	</select>
  </mapper>