<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="Write">
  
  <select id="noticeByCpage" resultType="kh.gw.dto.WriteDTO">
  	select * from(select st.write.*,row_number() over(order by write_reg_date
		desc)rn from st.write where (write_code = #{writeCode}) and
		(write_open='Y')) where rn between #{startRowNum} and #{endRowNum}
  </select>
  
  <select id="noticeList" resultType="kh.gw.dto.WriteDTO">
  	select * from st.write where (write_code = #{value}) and (write_open='Y')
  	order by write_reg_date desc
  </select>
  
  <select id="noticeView" resultType="kh.gw.dto.WriteDTO">
  	select * from st.write where (write_seq = #{value}) and (write_open='Y')
  </select>
  
  <update id="updateViewCount">
 	 update st.write set write_read_count = (select
		write_read_count from st.write where write_seq=#{value})+1 where
		write_seq=#{value}
  </update>  
  
  <select id="noticeSearch" resultType="kh.gw.dto.WriteDTO">
		select * from(select st.write.*,row_number() over(order by write_reg_date
		desc)rn from st.write where (write_code = #{writeCode}) and (${condition}
		like '%'||#{keyword}||'%') and (write_open='Y')) where (rn between
		#{startRowNum} and #{endRowNum})
	</select>
  
  <select id="noticeSearchList" resultType="kh.gw.dto.WriteDTO">
		select * from st.write where (write_code = #{writeCode}) and
		(write_open='Y')
		<if test="keyword != ''">
			and (${condition} like '%'||#{keyword}||'%')
		</if>
	</select>
	
 <select id="systemNoticeList" resultType="kh.gw.dto.WriteDTO">
  	select * from st.write where (write_code = #{value}) and (write_open='Y')
  	order by write_reg_date desc
  </select>
  
  <insert id="insertBoardWrite">
  	insert into st.write values(st.write_seq.nextval,02,#{write_title}, #{write_contents},#{write_id},sysdate,'','Y',0)
  </insert>
  
  <delete id="deleteBoardWrite">
  	delete from st.write where write_seq = #{value}
  </delete>
  
  <select id="modifyBeforeBoard" resultType="kh.gw.dto.WriteDTO">
  	select * from st.write where write_seq = #{write_seq}
  </select>
  
  <update id="modifyAfterBoard">
  	update st.write set write_title = #{write_title}, write_contents = #{write_contents} where write_seq = #{write_seq}
  </update>
  
  <insert id="insertGalleryWrite">
  	insert into st.write values(st.write_seq.nextval,03,#{write_title}, #{write_contents},#{write_id},sysdate,'','Y',0)
  </insert>
  
  <delete id="deleteGalleryWrite">
  	delete from st.write where write_seq = #{value}
  </delete>
  
  
  <select id="modifyBeforeGallery" resultType="kh.gw.dto.WriteDTO">
  	select * from st.write where write_seq = #{write_seq}
  </select>
  
  <update id="modifyAfterGallery">
  	update st.write set write_title = #{write_title}, write_contents = #{write_contents} where write_seq = #{write_seq}
  </update>
  
  <insert id="commentWrite">
  	insert into st.write_comments values(st.write_cmt_seq.nextval, #{write_seq}, #{write_cmt_id}, #{write_cmt_contents},sysdate,'','')
  </insert>

  <select id="commentNow" resultType="kh.gw.dto.Write_commentsDTO">
	select * from st.write_comments where write_cmt_seq = (select max(write_cmt_seq) from st.write_comments where write_seq = #{write_seq})
  </select>
  
  <select id="commentView" resultType="kh.gw.dto.Write_commentsDTO">
	select * from st.write_comments where write_seq = #{write_seq} and write_cmt_parent_seq is null order by write_cmt_seq asc
  </select>
  
  <delete id="commentDelete">
  	delete from st.write_comments where write_cmt_seq = #{value}
  </delete>
 
  <select id="reCommentList" resultType="kh.gw.dto.Write_commentsDTO">
	select * from st.write_comments where write_cmt_parent_seq = #{write_cmt_seq}
  </select>

  <insert id="reCommentWrite">
  	insert into st.write_comments(write_cmt_seq, write_seq, write_cmt_id, write_cmt_contents, write_cmt_date, write_cmt_parent_seq) values(st.write_cmt_seq.nextval, #{write_seq}, #{write_cmt_id}, #{write_cmt_contents}, sysdate, #{write_cmt_parent_seq})
  </insert>
  
    <select id="reCommentNow" resultType="kh.gw.dto.Write_commentsDTO">
	select * from st.write_comments where write_cmt_seq = (select max(write_cmt_seq) from st.write_comments where write_seq = #{write_seq} and write_cmt_parent_seq = #{write_cmt_parent_seq})
  </select>
  
  <insert id="insertWrite">
  	insert into st.write values(st.write_seq.nextval,#{write_code},#{write_title},#{write_contents},#{write_id},sysdate,'','Y',0)
  </insert>
  
  <select id="listWr" resultType="kh.gw.dto.WriteDTO">
  	select * from st.write where write_code between '0' and '1' order by write_code
  </select>
  
  <update id="updateWrList">
  	update st.write set write_title=#{write_title}, write_contents=#{write_contents} where write_seq=#{write_seq}
  </update>
  
  <delete id="deleteWrList">
  	delete from st.write where write_seq=#{write_seq}
  </delete>
  
    <select id="noticePopupList" resultType="kh.gw.dto.WriteDTO">
  	select * from(select st.write.*,row_number() over(order by write_reg_date
		desc)rn from st.write where (write_code=#{write_code}) and
		(write_open='Y')) where rn between #{startRowNum} and #{endRowNum}
  </select>
  
  <select id="noticePopupView" resultType="kh.gw.dto.WriteDTO">
  	select * from st.write where write_code = #{value} order by write_seq desc
  </select>
  
  <select id="listBr" resultType="kh.gw.dto.WriteDTO">
  	select * from st.write where write_code between '2' and '3' order by write_code
  </select>
  </mapper>